/******* MAIN **********/
.buttonContainer, .slideContainer {
  width: 300px;
  padding: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#play {
  display: none;
}
.speedLabel {
  padding-top: 5px;
  font-weight: bold;
}
button.button-danger {
  background: tomato;
}
svg {
  background: #333;
}
body {
  background: #ddd;
}

/******* SLIDER **********/
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #222;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: #33966e 10px inset;
  box-shadow:  0px 5px 10px #0f0;
  border-radius: 50%; 
  background: #fff;
  cursor: pointer;
  transition: all 0.01s;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}